.icon-new-note {
  height: 24px;
  width: 24px;
}

.new-note-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  background-color: transparent;

  border: 1px solid var(--border-gray);
  border-radius: 10px 0px 0px 10px;
  margin-right: -1px;

  cursor: pointer;
}