.note-status {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 5px 4px;
}

.note-status-pinner {
  height: 16px;
  border: none;
  background-color: transparent;

  padding: 0px;

  opacity: 0;

  cursor: pointer;
}

.note:hover .note-status-pinner,
.note-status-pinner.pinned {
  opacity: 1;
}

.icon-pinner {
  height: 16px;
}