.upload-button {
  position: absolute;
  bottom: -45px;
  right: 10px;

  background-color: var(--bg-dark);
  border: 1px solid var(--border-gray);
  border-radius: 20px;

  z-index: 101;

  padding: 6px 15px;
  
  cursor: pointer;

  transition: transform .15s;

  display: none;
  opacity: 0;
}

.upload-button.active {
  display: block;
  opacity: 1;
}

.file-input-label {
  cursor: pointer;
}

.upload-button-container {
  display: flex;
}

.upload-button:hover {
  box-shadow: inset 0 0 0 1px var(--border-pink);
}

.icon-upload {
  padding-right: 8px;
}

.upload-label {
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-family: sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
