.upload-button {
  position: absolute;
  bottom: -45px;
  right: 10px;

  background-color: var(--bg-dark);
  border: 1px solid var(--border-gray);
  border-radius: 20px;

  z-index: 101;

  padding: 8px 15px;

  cursor: pointer;

  transition: transform .15s;

  display: none;
  opacity: 0;
}

.upload-button-container {
  display: flex;
}

.upload-button.active {
  display: block;
  opacity: 1;
}

.upload-button:hover {
  box-shadow: inset 0 0 0 1px var(--border-pink);
}

.icon-upload {
  padding-right: 8px;
}

.upload-label {
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-family: sans-serif;
}