aside {
  width: 200px;
  transition: transform 0.1s ;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

button {
  background-color: transparent;
}

.note {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.note:hover {
  background-color: rgba(0, 0, 0, 0.227);
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  cursor: pointer;
}

.note-name-container.selected {
  background-color: aqua;
}