aside {
  width: 200px;
  transition: transform 0.1s ;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

button {
  background-color: transparent;
}

.note {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.note:hover {
  background-color: rgba(0, 0, 0, 0.227);
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  cursor: pointer;
}

.note-name-container.selected {
  background-color: aqua;
}

.note-status {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 5px;
}

.note-status-pinner {
  height: 16px;

  opacity: 0;
}

.note:hover .note-status-pinner {
  opacity: 1;
}

.icon-pinner {
  height: 16px;
}