aside {
  width: 300px;
  transition: transform 0.1s ;

  border-right: 1px solid #3a3a3a;

  background-color: var(--bg-dark);
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 4px;
  padding-bottom: 5px;

  border-bottom: 1px solid #3a3a3a;
}

.all-notes-label {
  margin-left: 10px;

  font-size: 18px;

}

.notes-container {
  width: 100%;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 50px;

  border-bottom: 1px solid #3a3a3a;
}

.note:hover {
  background-color: var(--bg-medium);
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

.note.selected {
  background-color: rgba(232, 67, 147, 0.1);
  border-left: 3px solid var(--pink-accent);
  box-shadow: inset 0 0 0 1px rgba(232, 67, 147, 0.2);
}