aside {
  width: 320px;
  transition: transform 0.1s ;

  border-right: 1px solid var(--border-gray);

  background-color: var(--bg-dark);

  position :relative;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--border-gray);
}

.all-notes-label {
  margin-left: 10px;

  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-notes-actions-container {
  display: flex;

  position: relative;
}

.notes-container {
  width: 100%;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 50px;

  border-bottom: 1px solid var(--border-gray);
}

.note:hover {
  background-color: var(--bg-medium);
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

.note.selected {
  background-color: var(--pink-soft);
  border-left: 3px solid var(--pink-accent);
  box-shadow: inset 0 0 0 1px var(--border-pink);
}