aside {
  width: 200px;
  transition: transform 0.1s ;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.note {
  padding: 9px 0px;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.note:hover {
  background-color: rgba(0, 0, 0, 0.227);
}

.note.selected {
  background-color: aqua;
}

