.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -100px;

  padding: 10px;

  background-color: rgb(244, 144, 177);

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.dropdown-menu-item {
  padding: 5px;

  background-color: transparent;
}

.can-focus:hover {
  background-color: rgba(0, 0, 0, 0.145);
}