.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -100px;

  padding: 10px;

  background-color: rgb(0, 0, 0);

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.dropdown-menu-item {
  padding: 5px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.can-focus:hover {
  background-color: rgb(21, 21, 21);
}