.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -170px;

  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid #3a3a3a;

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.dropdown-menu-items-container {
  padding: 0px 8px;
}

.dropdown-menu-items-container,
.common-items-container {
  display: flex;
  flex-direction: column;
}

.common-items-container {
  gap: 5px;

  padding: 8px;
}

.download-button-container {
  padding: 8px;
  border-top: 1px solid var(--border-gray);
}

.dropdown-menu-item {
  padding: 7px;

  background-color: transparent;
  border: none;

  font-size: 15px;
  font-family: sans-serif;

  cursor: pointer;
}

.dropdown-menu-item.delete.alone {
  color: gray;
  pointer-events: none;
}

.dropdown-menu-item.download {
  border-radius: 20px;
  color: var(--pink-accent)
}

.dropdown-menu-item.download:hover {
  color: white;
}

.can-focus:hover {
  background-color: var(--pink-accent);
  border-radius: 20px;
}