.info-modal {
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  background-color: rgb(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.info-content {
  background-color: var(--bg-dark);
  border: 1px solid var(--border-gray);
  border-radius: 20px;

  padding: 15px;
  width: 520px;
}

.info-storage,
.info-source {
  font-size: 16px;
  font-family: sans-serif;
}

.info-storage {
  padding-bottom: 10px;
}

.info-source {
  border-top: 1px solid var(--border-gray);
  padding-top: 10px;
}

.info-source a {
  margin-left: 5px;
  text-decoration: none;
  color: var(--pink-accent);
}