.info-modal {
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  background-color: rgb(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.info-content {
  background-color: var(--bg-dark);
  border: 1px solid var(--border-gray);
  border-radius: 20px;

  padding: 15px;
  width: 520px;

  font-size: 16px;
  font-family: sans-serif;
}