main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.note-toolbar {
  flex: 0 0 auto;

  padding: 16px 0px;
  background-color: var(--bg-darkest);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-button {
  margin-left: 8px;
}

.note-editor {
  flex: 1 1 auto;
  display: flex;

  background-color: var(--bg-darkest);
}

.markdown-preview {
  padding-left: 10px;
}

textarea {
  flex: 1 1 auto;

  background-color: var(--bg-darkest);

  border: none;
  padding: 10px;

  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  line-height: 25px;

  resize: none; /*prevents manual resizing*/
}

textarea:focus {
  outline: none;
}