main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.note-toolbar {
  flex: 0 0 auto;
}

.note-editor {
  flex: 1 1 auto;
  display: flex;
}

textarea {
  flex: 1 1 auto;

  border: none;
  padding: 0px;

  resize: none; /*prevents manual resizing*/
}