main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.note-toolbar {
  flex: 0 0 auto;

  background-color: var(--bg-darkest);
}

.sidebar-button {
  margin-top: 10px;
  margin-left: 10px;
}

.note-editor {
  flex: 1 1 auto;
  display: flex;
}

textarea {
  flex: 1 1 auto;

  background-color: var(--bg-darkest);

  border: none;
  padding: 10px;

  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  resize: none; /*prevents manual resizing*/
}

textarea:focus {
  outline: none;
}