.rename-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: violet;

  border-radius: 10px;

  padding: 25px;
}

.modal-content input {
  padding: 5px;

  width: 250px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px;
  font-size: 16px;

  background-color: transparent;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;

  cursor: pointer;
}