.rename-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--bg-dark);

  border-radius: 10px;

  padding: 20px;
}

.rename-input {
  padding: 10px;
  padding-left: 12px;

  width: 250px;
  border: none;
  border-radius: 20px;

  font-size: 17px;
}

.rename-input:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;

  padding: 0px 15px;
}

.buttons button {
  padding: 10px;
  font-size: 16px;

  border: 1px solid var(--border-button);
  border-radius: 10px;

  cursor: pointer;

  transition: transform 0.1s;
}

.buttons button:hover {
  transform: translateY(-1px);
}

.buttons button:active {
  transform: scale(0.99);
}

.cancel-button {
  background-color: var(--bg-darkest);
}

.save-button {
  background-color: var(--pink-accent);
}